<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.BVRec.BVRecApp"
	version     = "1.0.0" >
<!-- versionCode = "10" -->

<!-- versionCode is optional and Android only -->

  <name>BV Rec Helper</name>
  <preference name="orientation" value="portrait" />
  <preference name="SplashScreen" value="splash" />
  <icon src="Pictures/Icons/icon.png" />
  
  <splash src="Pictures/Icons/splash.png" />

  <description>
      Designed to help visitors find fields, restrooms, parking, food, and more! Also includes
	  access to other important information to the Blue Valley Recreation complex.
  </description>
  
  <plugin name="cordova-plugin-inappbrowser" version="3.0.0"/>
  
  <feature name="InAppBrowser">
    <param name="android-package" value="org.apache.cordova.InAppBrowser" />
	</feature>
	
  <author href="http://www.bluevalleyrec.org/">
      Blue Valley Rec
  </author>

</widget>

<!-- http://docs.phonegap.com/phonegap-build/configuring/ -->